<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ task.task_name }}</title>
    </head>
    <body>
        <div class="container">
            <div class="card">
                <div class="card-title"><h1>{{task.task_name}}</h1></div>
                <div class="card-content">{{task.due_date}}</div>
            </div>
        </div>
    </body>
</html>
