<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Django ToDo</title>
    </head>
    <body>
        <h1>Welcome</h1>
        {% if tasks %}
        <ul>
            {% for task in tasks %}
            <li>
                <span> {{task.task_name}} </span>
                <span>{{task.due_date}}</span>
                <span style="color: dodgerblue; margin-left: 20px"
                    >{{task.created_at}}</span
                >
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </body>
</html>
