{% extends 'base.html' %} {% block content %} {% if tasks %}
<h1 class="text-center">Welcome</h1>
<div class="">
    {% for task in tasks %}
    <div class="card">
        <div class="card-header d-flex justify-content-evenly">
            <span>{{task.due_date}}</span>
            <span style="color: dodgerblue; margin-left: 20px"
                >{{task.created_at}}</span
            >
        </div>
        <div class="card-body">
            <p class="">{{task.task_name}}</p>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="d-grid col-4 mx-auto">
                    <a class="btn btn-primary" href="{{task.id}}/update"
                        >Update</a
                    >
                </div>
                <div class="d-grid col-4 mx-auto">
                    <a class="btn btn-danger" href="{{task.id}}/delete"
                        >Delete {{task.id}}</a
                    >
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %} {% endblock content %}
